- name: "create Event-Type/topic CR file"
  template:
    src: kafka-topic.yaml.j2
    dest: /tmp/kafka-topic.yaml

- name: "Create vent-Type/topic"
  shell: "oc create -f /tmp/kafka-topic.yaml -n {{ namespace }}"

- name: "Delete Event-Type/topic Template File"
  file: path=/tmp/kafka-topic.yaml state=absent

- name: create deployment config
  k8s_extensions_v1beta1_deployment:
   name: '{{ event_type | lower }}-{{ consumer_group }}-http-sink'
   namespace: '{{ namespace }}'
   labels:
     app: event-gateway
     service: '{{ event_type }}-{{ consumer_group }}-http-sink'
   replicas: 1
   spec_template_metadata_labels:
     app: event-gateway
     service: '{{ event_type }}-{{ consumer_group }}-http-sink'
   containers:
   - env:
     - name: STREAMZI_EVENT_TYPE
       value: '{{ event_type }}'
     - name: STREAMZI_GROUP
       value: '{{ consumer_group }}'
     - name: HTTP_OUTPUT_ENDPOINT
       value: '{{ http_uri }}'
     image: docker.io/streamzi/cloudevents-gateway-http-sink:latest
     imagePullPolicy: IfNotPresent
     name: http-sink
